<%- include('partials/_header1') %>

<div class = "row">
    <div class="col-xl-4 col-lg-6 col-md-12">
        <h1>Estudiantes</h1>
        <button type="button" onclick = "location.href='/regEstudiante'" class="btn btn-secondary btn-min-width mr-1 mb-1">Registrar</button>
    </div>
</div>
<div class="row ">
    <div class="col ">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Estudiantes Activos</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-bordered bg-white">
                            <thead class="thead-dark">
                                <th>Matricula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Curso</th>
                                <th>Nivel</th>
                                <th>Ver</th>
                                <th>Eliminar</th>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < estudiantes.length; i++) { %>
                                    <tr>
                                        <td> <%= estudiantes[i].matricula %> </td>
                                        <td> <%= estudiantes[i].nombre %> </td>
                                        <td> <%= estudiantes[i].apellido %> </td>
                                        <td> <%= estudiantes[i].curso %> </td>
                                        <td> <%= estudiantes[i].nivel %> </td>
                                        <td><a href="/perfil/<%= estudiantes[i]._id %>""><i class="fas fa-eye"></i></a></td>
                                        <td><a onclick="myFunction('<%= estudiantes[i]._id %>')"><i class="fas fa-user-times"></i></a></td>
                                    </tr>
                                <% }%>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col ">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Antiguos Estudiantes</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-bordered bg-white">
                            <thead class="thead-dark">
                                <th>Matricula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Ver</th>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < graduados.length; i++) { %>
                                    <tr>
                                        <td> <%= graduados[i].matricula %> </td>
                                        <td> <%= graduados[i].nombre %> </td>
                                        <td> <%= graduados[i].apellido %> </td>
                                        <td><a href="/perfil/<%= graduados[i]._id %>""><i class="fas fa-eye"></i></a></td>
                                    </tr>
                                <% }%>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function myFunction(id){
            if (confirm("El estudiante pasará a estado inactivo y no podrá recuperarse!")) {
            window.location.href = '/estatusEstudiante/'+id
        } else {
            window.location.href = '/estudiantes'
        }
        }   
    </script>
      <!-- BEGIN VENDOR JS-->
      <script src="vendors/js/vendors.min.js" type="text/javascript"></script>
      <!-- BEGIN VENDOR JS-->
      <!-- BEGIN PAGE VENDOR JS-->
      <!-- END PAGE VENDOR JS-->
      <!-- BEGIN CHAMELEON  JS-->
      <script src="js/core/app-menu-lite.js" type="text/javascript"></script>
      <script src="js/core/app-lite.js" type="text/javascript"></script>
      <!-- END CHAMELEON  JS-->
      <!-- BEGIN PAGE LEVEL JS-->
      <!-- END PAGE LEVEL JS-->
    </body>
  </html>
