<%- include('partials/_header1') %>

    <div class="row ">
      <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted danger position-absolute p-1">Estudiantes:   <%= estudiantes %></h1>
                  <div>
                      
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                      <div id="progress-stats-bar-chart"></div>
                      <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted info position-absolute p-1">Profesores:   <%= docentes %> </h1>
                  <div>
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3">
                      <div id="progress-stats-bar-chart1"></div>
                      <div id="progress-stats-line-chart1" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted warning position-absolute p-1">Grupos:   <%= grupos %></h1>
                  <div>
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3">
                      <div id="progress-stats-bar-chart2"></div>
                      <div id="progress-stats-line-chart2" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header ">
                    <h2 class="teal" style="padding-bottom: 20px;">Grupos con mejor desempeño</h2>
                    <div class="height-200 ">
                        <h3><i class="fas fa-medal"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1ero de Basica</h2>
                        <canvas id="myCanvas" width="100" height="0" style="border:1px solid #02b8a5; margin: 15px; width: 90%"></canvas>
                        <h3><i class="fas fa-medal"></i> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5to de Secundaria</h2>
                            <canvas id="myCanvas" width="100" height="0" style="border:1px solid #02b8a5; margin: 15px; width: 90%"></canvas>
                            <h3><i class="fas fa-medal"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6to de Secundaria</h2>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="danger">Grupos con peor desempeño</h3>
                            <div class="height-100">
                                <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbsp 4to de Secundaria</h4>
                                <canvas id="myCanvas" width="auto" height="0" style="border:1px solid #be4a4a; margin: 15px; width: 90%"></canvas>
                                <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbsp3ro de Basica</h4>
                                <canvas id="myCanvas" width="auto" height="0" style="border:1px solid #be4a4a; margin: 15px; width: 90%"></canvas>
                                <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbsp6to de Basica</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="danger">Materias con peor desempeño</h3>
                            <div class="height-100">
                            <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbspNaturales - - - - 4ero de Secundaria</h4>
                            <canvas id="myCanvas" width="auto" height="0" style="border:1px solid #be4a4a; margin: 15px; width: 90%"></canvas>
                            <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbspMatematica - - - - 3to de Basica</h4>
                            <canvas id="myCanvas" width="auto" height="0" style="border:1px solid #be4a4a; margin: 15px; width: 90%"></canvas>
                            <h4><i class="fas fa-exclamation-circle"></i>&nbsp&nbsp&nbspQuimica - - - - 6to de Basica</h4>
                        </div>
                        </div>
                        <div class="card-body">
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  <%- include('partials/_footer') %>