<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>Santiago Apostol</title>
    <link rel="apple-touch-icon" href="images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Cross_Santiago.svg/220px-Cross_Santiago.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/599c892ae7.js" crossorigin="anonymous"></script>

    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <link rel="stylesheet" type="text/css" href="/css/app-lite.css">
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- END Custom CSS-->
  </head>
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x" data-col="2-columns">

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light">
      <div class="navbar-wrapper">
        <div class="navbar-container content">
          <div class="collapse navbar-collapse show" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
              <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
              <li class="nav-item dropdown navbar-search"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
                <ul class="dropdown-menu">
                  <li class="arrow_box">
                    <form>
                      <div class="input-group search-box">
                        <div class="position-relative has-icon-right full-width">
                          <input class="form-control" id="search" type="text" placeholder="Search here...">
                          <div class="form-control-position navbar-search-close"><i class="ft-x">   </i></div>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
    
            <ul class="nav navbar-nav float-right">
              <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">             <span class="avatar avatar-online"><img src="images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="arrow_box_right"><a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="images/portrait/small/avatar-s-19.png" alt="avatar"><span class="user-name text-bold-700 ml-1">Luis </span></span></a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-user"></i> Editar Perfil</a><a class="dropdown-item" href="#"><i class="ft-mail"></i> Mensajes</a><a class="dropdown-item" href="#">
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="images/backgrounds/02.jpg">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">       
          <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Cross_Santiago.svg/220px-Cross_Santiago.svg.png"/>
              <h3 class="brand-text">Santiago Apostol</h3></a></li>
          <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
      </div>
      <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" nav-item"><a href="/"><i class="fas fa-school"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
          </li>
          <li class=" nav-item"><a href="/estudiantes"><i class="fas fa-user-graduate"></i><span class="menu-title" data-i18n="">Estudiantes</span></a>
          </li>
          <li class=" nav-item"><a href="/docentes"><i class="fas fa-chalkboard-teacher"></i><span class="menu-title" data-i18n="">Profesores</span></a>
          </li>
          <li class=" nav-item"><a href="/grupos"><i class="fas fa-user-friends"></i><span class="menu-title" data-i18n="">Grupos</span></a>
          </li>
          <li class=" nav-item"><a href="/"><i class="fas fa-calendar-week"></i><span class="menu-title" data-i18n="">Eventos</span></a>
          </li>
        </ul>
      </div>
      <div class="navigation-background"></div>
    </div>
<!--CARTA REGISTRO-->


<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body">

<!--Register form-->
<div class="row">  
    <div class="container p-3 my-3 bg-white">
  
                  <!-- Default form register -->
                  <form class="text-center border border-dark p-4" action = "/modificarGrupo/<%= grupo._id%>" method="POST">
          
                    <p class="h4 mb-4">Creaer grupo</p>
                    <div class="form-group">
                        <h3>Curso</h3>
                        <input name = "curso" value="<%= grupo.curso %>" readonly="readonly" class="form-control">
                    </div>
          
                    <div class="form-group">
                        <h3>Nivel</h3>
                        <input name = "nivel" value="<%= grupo.nivel %>" readonly="readonly" class="form-control">


                    <!-- Especialidad -->
                    <div class="form-group">
                    <h3>Materia</h3>
                    <input name = "materia" value="<%= grupo.materia %>" readonly="readonly" class="form-control">

                    </div>

                  
                      

          
                    <!-- Phone number -->
                    <h3>Horario</h3>
                    <div class="row">
                        <div class="col-md-6 ">
                            <label>Inicio</label>
                            <div class="form-group">
                                <input type="time" class = "form-control" list="timeList" name = "hora">
                                <datalist id="timeList">
                                    <option value="08:00">
                                    <option value="09:00">
                                    <option value="10:00">
                                    <option value="11:00">
                                    <option value="12:00">
                                    <option value="13:00">
                                    <option value="14:00">
                                </datalist>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <label>Dias</label>
                            <div class="form-group">
                                <select class="form-control" multiple="multiple" size = 3 name = dia>
                                    <option>Lunes</option>
                                    <option>Martes</option>
                                    <option>Miercoles</option>
                                    <option>Jueves</option>
                                    <option>Viernes</option>
                                </select>                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input list="listaDoncentes" class="form-control" value="<%= grupo.maestro %>" name="maestro">
                        <datalist id="listaDoncentes">
                            <% for(var i = 0; i < docentes.length; i++) { %>
                                <option value="<%= docentes[i].nombre + " " + docentes[i].apellido%>" >
                                    <% }%>
                        </datalist>
                    </div>
                    
          
    
                    <!-- Sign up button -->
                    <button class="btn btn-secondary my-4 btn-block waves-effect " type="submit">Registrar</button>
          
                 
             
          
                
                  </p></form>
                  <!-- TERMINO Register form -->
    
      </div>
      <div class="row match-height">

         
                <!--Section: Live preview-->
            
           
    </body>
  </html>