<%- include('partials/_header1') %>

<div class = "row">
    <div class="col-xl-4 col-lg-6 col-md-12">
        <h1>Pensums</h1>
    </div>
</div>

<div class="table-responsive">
    <table  class="table table-bordered bg-white">
        <thead class="thead-dark">
            <th>ID</th>
            <th>Curso</th>
            <th>Nivel</th>
        </thead>
        <tbody>
            <% for(var i = 0; i < pensums.length; i++) { %>
            <tr>
                
                <td><%= i + 1 %></td>
                <td><%= pensums[i].curso %></td>
                <td><%= pensums[i].nivel %></td>
                <td><a onclick = "location.href='/modPensum/<%= pensums[i]._id %>'"><i class="fa fa-pencil" ></i></a></td>
            </tr>
            <% } %>
        </tbody>
    </table>