<%- include('partials/_header1') %>

<div class = "row">
    <div class="col-xl-4 col-lg-6 col-md-12">
        <h1>Profesores</h1>
        <button type="button" onclick = "location.href='/RegDocente'" class="btn btn-secondary btn-min-width mr-1 mb-1">Registrar</button>
    </div>
</div>
<div class="table-responsive">
    <table  class="table table-bordered bg-white">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>E-Mail</th>
            <th>Telefono</th>
            <th>Direccion</th>
      </tr>
      <tbody>
        <% for(var i = 0; i < docentes.length; i++) { %>
            <tr>
                <td> <%= docentes[i].nombre %> </td>
                <td> <%= docentes[i].apellido %> </td>
                <td> <%= docentes[i].especialidad %> </td>
                <td> <%= docentes[i].correo %> </td>
                <td> <%= docentes[i].telefono %> </td>
                <td> <%= docentes[i].direccion %> </td>
                <td><a href="/perfilDocente/<%= docentes[i]._id %>"><i class="fas fa-eye"></i></a></td>
            </tr>
        <% }%>  
    </tbody>
    </table>

      <!-- BEGIN VENDOR JS-->
      <script src="vendors/js/vendors.min.js" type="text/javascript"></script>
      <!-- BEGIN VENDOR JS-->
      <!-- BEGIN PAGE VENDOR JS-->
      <!-- END PAGE VENDOR JS-->
      <!-- BEGIN CHAMELEON  JS-->
      <script src="js/core/app-menu-lite.js" type="text/javascript"></script>
      <script src="js/core/app-lite.js" type="text/javascript"></script>
      <!-- END CHAMELEON  JS-->
      <!-- BEGIN PAGE LEVEL JS-->
      <!-- END PAGE LEVEL JS-->
    </body>
  </html>
