<%- include('partials/header') %>   

            <div class="container">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-md-8"><h1>Alumnos               </h1></div>
                    
                    <div class="col-md-1"><button class="btn btn-primary btn-block">Registrar</button></div>
                </div>
                
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="table-dark">
                                    <th>Nombre </th>
                                    <th>Apellido </th>
                                    <th>Curso </th>
                                    <th>Tutor </th>
                                    <th>Contacto </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < estudiante.length; i++){ %>
                                    <tr>
                                        <td><%= estudiante[i].nombre%></td>
                                        <td><%= estudiante[i].apellido1%></td>
                                        <td><%= estudiante[i].curso%></td>
                                        <td><%= estudiante[i].tutor%></td>
                                        <td><%= estudiante[i].telefono%></td>
                                        <td><a href="/perfil/<%= estudiante[i]._id%>" class="btn btn-primary">Ver</a></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </body>
</html>